{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Edit item

{% endblock %}


{% block content %}

   

    <a role="button" href="/">Back</a>

{% endblock %}

