{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To do List

{% endblock %}


{% block content %}
    <div>
        <h1>Active Tasks <a href="/" role="button" id="button3"> + </a ></h1>
        <div id="tasks">
            {% for task in aTasks %}
                    <article id="task">
                        <h3> {{ task.name }}  <a href="/edit" role="button" id="button">✎</a ></h3>
                        <p>priority: {{task.priority}}</p>
                        <p>{{task.timestamp}}</p>
                        <div><a href="/" role="button" id="button2"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
</svg> </a > <a href="/" role="button" id="button2"> Complete </a ></div>
                    </article>
            {% else %}
                <h2> No Active Tasks</h2>
            {% endfor %}
        </div>
            
        <h1>Completed Tasks</h1>
        <div id="tasks">
            {% for task in inaTasks %}
                <p>{{task.name}}</p>
            {% else %}
                <h4> No Completed Tasks</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}

