{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Active Tasks</h1>
        {% for task in activeTasks %}
            <article>
                <h3> {{ task.name }}</h3>
            </article>
        {% endfor %}


    <h1>Completed Tasks</h1>
        {% for task in inactiveTasks %}
            <p></p>
        {% endfor %}



    <a href="/things" role="button">Go to the Things...</a>

{% endblock %}

