{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}
    <div>
        <h1>Active Tasks</h1>
        <div id="tasks">
            {% for task in aTasks %}
                    <article id="task">
                        <h3> {{ task.name }}</h3>
                        <p>priority: {{task.priority}}</p>
                        <p>{{task.timestamp}}</p>
                        <button>  </button>
                    </article>
            {% else %}
                <h2> No Active Tasks</h2>
            {% endfor %}
        </div>
            
        <h1>Completed Tasks</h1>
        <div id="tasks">
            {% for task in inaTasks %}
                <p>{{task.name}}</p>
            {% else %}
                <h4> No Completed Tasks</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}

